/**
 * buttons.css
 */
.btn-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  width: 400px;
}

.btn {
  background-color: #a1a1a1;
  border: none;
  border-radius: 8px;
  box-shadow: none;
  color: white;
  cursor: pointer;
  padding: 16px 24px;
  transition: all 0.15s ease-in-out;
}

.btn:hover {
  background-color: #696969;
}

.btn-primary {
  background-color: blue;
}

.btn-primary:hover {
  background-color: darkblue;
}

.btn-icon {
  color: green;
  cursor: pointer;
}

.btn-icon:hover {
  opacity: 0.7;
}
